name: cleanup

on: 
  pull_request:
    types: [closed]
  
jobs:

  cleanup:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4.2.2
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-west-2
    - name: Install AWS CLI
      run: |
        sudo apt-get update
        sudo apt-get install -y awscli
    - name: Remove files in results sub_dir
      if: aws s3 ls s3://cellpack-results/${{  github.head_ref  }}
      run: aws s3 rm s3://cellpack-results/${{  github.head_ref  }} --recursive
